body{
	cursor:url(imges/Pointer.ico),auto;
	pointer-events: none;
	width: 100%;
}
html{
	cursor:url(imges/Pointer.ico),auto;
}
#movek{
	/*background: #000;
	opacity: 0.5;*/
	width: 86%;
	height: 60%;
	z-index: 20;
	margin-top: 48px;
	pointer-events: auto;
}
#coordinate div{
	background: #eee;
}
/*#role-1{
	border-style:solid;
	border-width:1px;
}*/
#body-x{
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: #1b1b1b;
	overflow:hidden; 
}
#body-y{
	margin: 0;
	width: 100vh;
	height: 100vw;
	background: #eee;
}

#coordinate{
	z-index: 10;
	position: absolute;
	display: none;
}
#play{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: center;
}
.play-pc{
	width: 736px;
	height: 414px;
	margin: 0 auto;
	margin-top: 100px;
}
.play-Mobile-x{
	transform: rotate(90deg);
   	transform-origin:0% 0%;
    margin-left: 100vw;
    width: 100vh;
    height: 100vw;

}
.play-Mobile-y{
	width: 100vw;
	height: 100vh;
}
.play-Mobile-pad{
	width: 100%;
	max-width: 736px;
	margin: 0 auto;
	margin-top: 100px;
}
#k{
	width: 100%;
	background: #1b1b1b;
}





#k-t{
	width: 100%;
	height: 35%;
	background:url(imges/wall/1.png);
	background-size:auto 100%;
	background-repeat: repeat-x;
	position:relative;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*#k-t div{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}*/

#k-b{
	width: 100%;
	height: 65%;
	background:url(imges/floor/1.png);
	background-size:auto 100%;
	background-repeat: repeat-x;
	position:relative;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#k-b-1{
	width: 100%;
	height: 100%;
	z-index: 11;
    position:absolute;
    z-index: 20;
	pointer-events: none;
}
#furniture{
	/*background: #E9B94B;*/
	z-index: 40;
    position:absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    pointer-events: none;
}
#f-z{
	width: 45%;
	/*background: #fff;*/
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#f-y{
	width: 55%;
	/*background: #111;*/
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#f-z-s{
	width: 100%;
	height: 18%;
	/*background: #000;*/
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.f-z-s{
	text-align:center;
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
#f-z-z{
	width: 100%;	
	height: 49%;
	/*background: #fff;*/
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;

}

#f-z-x{
	width: 100%;
	height: 19%;
	/*background: #E9B94B;*/
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#f-z-b{
	width: 100%;
	height: 6.5%;
	background:url(imges/k-b.png);
	background-size:auto 100%;
}
#f-z-z-z{
	/*width: 40%;*/
	margin-right: auto;
}
#f-z-z img{
	width: 100%;
}
#f-z-z-y{
	width: 60%;
}
#f-z-z-y img{
	width: 100%;
}

/*#f-z-z-y-z{
	float: right;
	width: 50%;
}*/
/*#f-z-z-y-y{
	float: right;
	width: 50%;
}*/
#f-z-z-1{
	width: 100%;
}
.f-z-x-1{
	/*width: 33%;*/
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#f-y-s{
	width: 100%;
	height: 33%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#f-y-x{
	width: 100%;
	height: 51%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.f-y-s-1{
	width: 17%;
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

}
.f-y-s-2{
	width: 24%;
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
#f-y-s img{
	width: 100%;
}
#f-y-b{
	width: 100%;
	height: 6.5%;
	background:url(imges/k-b.png);
	background-size:auto 100%;
}
#f-y-x img{
	width: 100%;
}
#f-y-x div{
	
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#Choice{
	width: 100%;
	height: 100%;
	/*background: #000;*/
	z-index: 20;
    position:absolute;
    display: -webkit-flex;
    /*display: flex;*/
    display: none;
}
#Choice-1{
	width: 500px;
	margin: auto;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Choice-1 img{
	margin-bottom: 10px;
	/*pointer-events: auto;*/
}
#character{
	z-index: 21;
    position:absolute;
}
input{
	width: 50px;	
	height: 20px;
	/*display: none;	*/
}
#tips{
	/*display: none;*/
}
#k-t-l{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 45%;
    /*background: #000;*/
}
#k-t-l img{
	pointer-events: none;
}
#k-t-r{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 45%;
    /*background: #000;*/
}
#k-t-r img{
	pointer-events: none;
}
.k-t-l-div{
	width: 48px;
	max-width: 16%;
	height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
	/*background: #000;*/
}
.k-t-l-div img{
	margin-top: 40px;
	max-height: 60%;
	margin-right: auto;
}
.k-t-r-div{
	width: 48px;
	height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 16%;
	max-width: 48px;
	/*pointer-events: auto;*/
	/*background: #000;*/
}
.k-t-r-div img{
	margin-top: 40px;
	max-height: 60%;
	margin-right: auto;
}
#k-t-m{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    pointer-events: auto;
}

#k-b-t{
	width: 100%;
	height: 50%;
/*	background: #fff;
	opacity: 0.5;*/
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    z-index: 30;
    pointer-events: none;
}
#k-b-t div{
	pointer-events: none;
}
/*#k-b-t img{
	pointer-events: none;
}*/
#k-b-t-l{
	width: 45%;
	height: 100%;
/*	background: red;
	opacity: 0.5;*/
	display: -webkit-flex;
    display: flex;
   
}
/*#k-b-t-l-div-1{
	margin-right: auto;
}*/
/*#k-b-t-r-div-6{
	margin-left: auto;
}*/
#k-b-t-r{
	width: 45%;
	height: 50%;
/*	background: red;
	opacity: 0.5;*/
}
.k-b-t-l-div{
	width: 16%;
	max-width: 48px;
	/*background: #fff;*/
}
.k-b-t-l-div img{
	margin-top: -210%;
	max-height: 180%;
	position: relative;
	z-index: 30;
	pointer-events: none;
}
#k-b-t-r{
	width: 45%;
	height: 100%;
/*	background: red;
	opacity: 0.5;*/
	display: -webkit-flex;
    display: flex;
     -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.k-b-t-r-div{
	width: 16%;
	max-width: 48px;
	/*background: #fff;*/
}
.k-b-t-r-div img{
	margin-top: -210%;
	max-height: 180%;
	pointer-events: none;
}
#k-b-b{
	width: 100%;
	height: 50%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    z-index: 60;
	
}
.k-b-b-div{
	/*width: 7.6%;*/
	height: 100%;
	max-width: 48px;
/*	background: red;
	opacity: 0.5;*/
	flex:1;
}
#k-b-b-div-7{
	margin-left: auto;
}
#k-b-bottom{
	width: 100%;
	height: 24px;
	background:url(imges/k-x.png);
	position: absolute;
	bottom: 0;
	z-index: 100;
}
#k-b-top{
	width: 100%;
	height: 36px;
	background:url(imges/k-t.png);
	position: absolute;
	z-index: 60;
	/*top: 0;*/
}
#k-l{
	background:url(imges/k-l-m.png);
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 60;
}
#k-r{
	background:url(imges/k-r-m.png);
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 60;
}
.k-b-b-div img{
	margin-top: -126%;
	max-height: 150%;
	pointer-events: none;
}
#xuan_ren{
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	position: absolute;
	z-index: 101;
	display: -webkit-flex;
    display: flex;
    display: none;
	max-height: 414px;
	max-width: 736px;
}
#xuan_ren_img{
    width: 560px;
    height: 220px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
}
#xuan_ren_img img{
	width: 76px;
	height: 96px;
	pointer-events: auto;
}
#menu{
	margin: auto;
	width: 480px;
}
#menu img{
	pointer-events: auto;
}
#inventory{
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	position: absolute;
	z-index: 90;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
     -webkit-align-items: center;
    align-items: center;
    display: none;
    max-height: 414px;
	max-width: 736px;
}
#inventory-l{
	/*width: 24%;*/
	height: 90%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
}

#inventory-r{
	width: 60%;
	height: 90%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: auto;
    margin-right: 20px;
}

#inventory-l-t{
	width: 100%;
	height: 18px;
	display: -webkit-flex;
    display: flex;
}
#inventory-l-t-1{
	width: 18px;
	height: 18px;
	background:url(imges/furniture/t-l.png);
}
#inventory-l-t-2{
	width: 1px;
	height: 18px;
	background:url(imges/furniture/t-m.png);
	flex: auto;
}
#inventory-l-t-3{
	width: 21px;
	height: 18px;
	background:url(imges/furniture/t-r.png);
}
#inventory-l-m{
	width: 100%;
	height: auto;
	display: -webkit-flex;
    display: flex;
    flex: auto;
}
#inventory-l-m-1{
	width: 15px;
	background:url(imges/furniture/m-l.png);
}
#inventory-l-m-2{
	width: 144px;
	background-color: #f5b66e;
	/*flex: auto;*/
}
#inventory-l-m-3{
	width: 21px;
	background:url(imges/furniture/m-r.png);
}
#inventory-l-b{
	width: 100%;
	height: 18px;
	display: -webkit-flex;
    display: flex;
}
#inventory-l-b-1{
	width: 15px;
	height: 18px;
	background:url(imges/furniture/b-l.png);
}
#inventory-l-b-2{
	width: 1px;
	height: 18px;
	background:url(imges/furniture/b-m.png);
	flex: auto;
}
#inventory-l-b-3{
	width: 21px;
	height: 18px;
	background:url(imges/furniture/b-r.png);
}
#inventory-r-t{
	width: 100%;
	height: 18px;
	display: -webkit-flex;
    display: flex;
}
#inventory-r-t-1{
	height: 18px;
	background:url(imges/furniture/t-m.png);
	flex: auto;
}
#inventory-r-t-2{
	width: 12px;
	height: 18px;
	background:url(imges/furniture/r-r.png);
}
#inventory-r-m{
	width: 100%;
	height: auto;
	display: -webkit-flex;
    display: flex;
    flex: auto;
}
#inventory-r-m-1{
	width: 15px;
	background-color: #f5b66e;
	flex: auto;
	overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
#inventory-r-m-2{
	width: 18px;
	background:url(imges/furniture/r-m-r.png);
}
#inventory-r-b{
	width: 100%;
	height: 18px;
	display: -webkit-flex;
    display: flex;
}
#inventory-r-b-1{
	height: 18px;
	background:url(imges/furniture/b-m.png);
	flex: auto;
}
#inventory-r-b-2{
	width: 15px;
	height: 18px;
	background:url(imges/furniture/r-b.png);
}
#icon-box{
	/*width: 100%;*/
	/*height: 100%;*/
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
 /*   -webkit-justify-content: space-around;
    justify-content: space-around;*/
    position: relative;
    overflow-y: hidden;
    pointer-events: auto;
    margin: auto;
}
.icon{
	background: #fff;
	width: 48px;
	height: 48px;
	margin: 4px;
	border:2px solid #fff0ba;
}
.icon_no{
	background: #fff;
	width: 52px;
	height: 48px;
	margin: 4px;
}
#scrollbar{
	width: 18px;
	height: 100%;
	background:url(imges/scrollbar-bj.png);
	position: absolute;
	top: 0;
	right: 0;
}
#scrollbar-t{
	position: absolute;
	top: 0;
}
#scrollbar-div{
	position: absolute;
}
#scrollbar-b{
	position: absolute;
	bottom: 0;
}
#inventory-l-div{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
}
#inventory-t{
	flex: auto;
	/*background:url(imges/box-bj-t.png);*/
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
}
#inventory-t-t{
	width: 144px;
	height: 138px;
	background:url(imges/wall/1.png) bottom;
}
#inventory-t-b{
	width: 144px;
	flex: auto;
	background:url(imges/floor/1.png);
}
#inventory-t-border{
	width: 144px;
	height: 24px;
	background:url(imges/k-x.png);
	z-index: 10;
}
#inventory-b{
	height: 60px;
	display: -webkit-flex;
    display: flex;
}
#inventory-b img{
	margin: auto;
	pointer-events: auto;
}
#inventory-l-img{
	position: absolute;
	bottom: 100px;
	width: 48px;
	margin-left: 48px;
	top: 40px;
	/*margin-top: 40px;*/
}
#choice{
	width: 144px;
	/*height: 80px;*/
	position: absolute;
	bottom: 36px;
	/*width: 100%;*/
	background: #f5b66e;
}
#choice img{
	pointer-events: auto;
	margin-top: 6px;
	margin-left: 3px;
	/*margin-bottom: 2px;*/
}
#save_Btn{
	display: none;
}
#cancel_Btn{
	display: none;
}


#wall_floor_Btn{
	display: none;
	position: absolute;
	top: 10%;
	pointer-events: auto;
	z-index: 80;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#author{
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	position: absolute;
	z-index: 90;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
     -webkit-align-items: center;
    align-items: center;
    display: none;
    z-index: 200;
    max-height: 414px;
	max-width: 736px;
}
#author-body{
	width: 94%;
	height: 90%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.author-div{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#author-1{
	height: 18px;
}
#author-2{

}
#author-3{
	height: 18px;
}
#author-1-1{
	width: 18px;
	height: 18px;
	background:url(imges/furniture/t-l.png);
}
#author-1-2{
	width: 1px;
	height: 18px;
	background:url(imges/furniture/t-m.png);
	flex: auto;
}
#author-1-3{
	width: 12px;
	height: 18px;
	background:url(imges/furniture/r-r.png);
}
#author-2-1{
	width: 15px;
	background:url(imges/furniture/m-l.png);
}
#author-2-2{
	width: 144px;
	background-color: #f5b66e;
	flex: auto;
	display: -webkit-flex;
    display: flex;
}
#author-2-3{
	width: 18px;
	background:url(imges/furniture/r-m-r.png);
}
#author-3-1{
	width: 15px;
	height: 18px;
	background:url(imges/furniture/b-l.png);
}
#author-3-2{
	width: 1px;
	height: 18px;
	background:url(imges/furniture/b-m.png);
	flex: auto;
}
#author-3-3{
	width: 15px;
	height: 18px;
	background:url(imges/furniture/r-b.png);
}
#X{
	width: 36px;
	height: 36px;
	margin-top: 4px;
	margin-right: 4px;
	pointer-events: auto;
}
#erweima{
	width: 80%;
	margin: auto;
}


